<header>
  <nav>
    <ul>
      <li>
        <a href="/">Accueil</a>
      </li>
      <li>
        <a href="/sign-in">Se connecter</a>
      </li>
      <li>
        <a href="/sign-up">S'enregistrer</a>
      </li>
    </ul>
  </nav>
</header>
